@{
    ViewBag.Title = "RetailApp";
    Layout = "~/Views/shared/_layout.cshtml";
}

<!-- -------------------------------------- CAMBIAR PATH POR EL DE LAYOUT ------------------------------------------- -->

<h2></h2>


<!--/Questionnaire/_questionnaire-->