html {
    background: url(../Img/Discover.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#reminder-text {
    margin:5%;
}

.modal-header {
    text-align:center;
    font-size:300%;
}

.modal-body {
    font-size:200%;
    text-align:center;
    padding-bottom: 0.5em;
    display:block;
}


