@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
/* written by riliwan balogun http://www.facebook.com/riliwan.rabo*/

html {
    background: url(../Img/Discover.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: transparent;
}

.board{
    width: 75%;
    margin: 60px auto;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.7);
    border:3px solid #022248;
    border-radius:10px;
}

.board-header {
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    margin:2%;
    padding:2%;
    color:black;
    background-color:white;
    border:3px solid #022248;
}

.board .nav-tabs {
    position: relative;   
    margin-bottom: 0;
    box-sizing: border-box;
    
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 3px;
    background: #022248;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: black;
    cursor: default;   
}

span.round-tabs{
    width: 100%;
    height: 100%;
    line-height: 65px;
    display: inline-block;
    border-radius: 100px;
    background: #D3D50F;
    color:#022248;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 200%;
    border: 2px solid black;
    transition: 0.5s;
}

li.active span.round-tabs{
    background: #022248!important;
    border: 2px solid black;
    transition:0.5s;
    text-align:center;
    color: #D3D50F;
}

.nav-tabs > li {
    width: 20%;
}

li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid #022248;
    border-bottom-color: #022248;
    
}
li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #022248;
    
}
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-pane{
   position: relative;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    color: #ffffff;
}



@media( max-width : 585px ){
    
.board {
    width: 90%;
    height:auto !important;
}
span.round-tabs {
    font-size:16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
    
.tab-content .head{
   font-size:20px;
}
    
.nav-tabs > li a {
    width: 50px;
    height: 50px;
    line-height:50px;
}

li.active:after {
    content: " ";
    position: absolute;
    left: 35%;
}

.btn-outline-rounded {
    padding:12px 20px;
    }
}

.question-header {
    padding:3%;
    text-align:center;  
    font-size:300%;
    border-bottom:1px solid white;
    width:100%;
    height:25%;
}

.question-choices {
    padding:5%;
    
}

.custom-radio {
    width:30px;
    height:30px;  
    background-color:none;
   
    
}

.custom-radio:checked {
        width: 30px;
        height: 30px;
        color: orange;
}

.question-choices {
    display:block;
}


.choice {
    height:20%;
} 

board-inner {
    border: 3px solid #022248;
    margin-bottom:-10px;
}

.nav-tabs{
    border-bottom:none !important;  
}