/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html {
    width:100%;
    height:0%;
    background: url(../Img/Discover.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
  width:100%;
  height:0%;
  color: #5a5a5a;  
}


#loginModal {
   margin-top:5%; 
    
}

.modal-body {
    width:100%;
}

.button {    
     width:100%;
     display:inline-flex;
     background-color:#3b5998;
     border-radius: 20px;
}

.custom-button{
    height:100px;
    width:80%;
    color:#FFFFFF;
    font-family:Arial;
    background-color:#3b5998;
    text-align:center;
    font-size:200%;
    padding-top:1em;
    border-left:3px solid #274380;
}

.custom-logo {
    height:100px;
    width:20%;
    color:#FFFFFF;
    font-family:'Arial';
    font-size:70px; 
    background-color:#3b5998; 
    text-align:center;   
    border-right:3px solid #274380;
    padding-bottom:40px;
}
     
