/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background-color:white;
}

#loginModal {
    position:absolute;
    left:50%;
    top:50%;
    margin:-250px 0 0 -700px;
}

.button {
 height:100px;
 width:570px;
 display:inline-flex;
 background-color:#3b5998;
 border-radius: 10px;
}

.custom-button{
    height:100px;
    width:470px;
    color:#FFFFFF;
    font-family:Arial;
    font-size:36px;
    background-color:#3b5998;
    text-align:center;
    padding-top:20px;
    border-left:2px solid #274380;
}

.custom-logo {
    height:100px;
    width:100px;
    color:#FFFFFF;
    font-family:'Arial';
    font-size:70px; 
    background-color:#3b5998;    
    border-right:2px solid #274380;
    padding-bottom:40px;
}

.container-fluid {
    background-color:dimgrey;
}
.navbar-header {
    display:inline-flex; 
}